# PostgreSQL Database Configuration
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=weather_dwh
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Apache Airflow Configuration
AIRFLOW_HOME=./airflow
AIRFLOW__CORE__EXECUTOR=SequentialExecutor
AIRFLOW__CORE__SQL_ALCHEMY_CONN=sqlite:////tmp/airflow.db
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__CORE__LOAD_EXAMPLES=false

# dbt Configuration
DBT_PROFILES_DIR=./dbt_project
