# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Airflow
airflow/logs/
airflow/airflow.db
airflow/airflow-webserver.pid

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Database & Environment
.env
*.postgres_data

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
